/* ====================== Tailwind ====================== */

@plugin 'tailwindcss-animate';
@import 'tailwindcss';

/* Activar dark mode cuando exista la clase `.dark` en <html> */
@custom-variant dark (&:where(.dark, .dark *));
/*! si sacas esta linea deja de funcionar dark mode y ligth mode, solo queda el default que es DARK MODE  */

/* ====================== Fonts ====================== */

/* agregar alguna font que este buena */

/* ====================== Variables ====================== */
:root {
  color-scheme: light dark; /*con esto ya le estoy diciendo que si el fondo es negro le ponga font blanca */
  text-rendering: optimizeLegibility;
}

/* ====================== Global Reset ====================== */
/* Tailwind ya resetea MUCHAS cosas con Preflight  por eso no le hago reset yo*/

*,
*::before,
*::after,
html,
body {
  scrollbar-gutter: auto;
}

html {
  /* background-color: #000000; */
  /* color: #ffffff; */
  display: flex;
  justify-content: center;
  overflow-x: hidden; /* esto saca el scroll lateral que me da la linea */
  scrollbar-width: none;
  color-scheme: dark !important; /*! ESTO ES PARA QUE NO IMPORTA COMO TENGA LA CONFIG MI PAGINA SIEMPRE ESTE EN MODO OSCURO  */
  /* font-family: sans-serif; */
}

/*! ====================== IMPORTANT ====================== */
/* esto es lo que hace que no se desborde mas las configs de el layout hacen que no se desborde */
html,
body {
  overflow-x: hidden !important;
}

body {
  width: 100%;
}

/* ====================== Custom Classes and Theme Variables====================== */
/** se que no se hace esto con tailwind pero asi se puede tener un poco mas general algunas cosas */
/* 
esta es la config general de estilo
rounded-2x1
bg-[#1e1e2e]/5 backdrop-blur-md
border-white/10
hover:border-white/40
hover:bg-white/10
*/

@theme {
  /* Borders */
  --color-border-app: white;

  /* Backgrounds */
  --color-bg-glass: #1e1e2e;
  --color-bg-selected: white;
}

.glass-effect {
  @apply bg-bg-glass/5 backdrop-blur-md;
}

.rounded-app {
  @apply rounded-2xl;
}

.border-app-t {
  @apply border-border-app/10 border-t;
}
.border-app-l {
  @apply border-border-app/10 border-l;
}

.border-app {
  @apply border-border-app/10 border;
}

.border-hover-app {
  @apply hover:border-border-app/40 border;
}
.border-selected-app {
  @apply border-border-app border;
}

.bg-selected-btn {
  @apply bg-bg-selected/10;
}

.bg-techitem-hover {
  @apply hover:bg-bg-selected/10;
}
.bg-techitem {
  @apply bg-bg-selected/5;
}

/* ================================ Texto para poder tener modo claro y oscuro (sin terminar)  ================================ */
/* hay que hacer que las clases sean mas reutilizables, es una mierda*/
.app-text-color {
  @apply text-black dark:text-white;
}

.app-nav-text-color {
  @apply text-neutral-950 hover:text-black dark:text-neutral-300 dark:hover:text-white;
}

.app-section-title {
  @apply text-black dark:text-neutral-400;
}

.app-view-more-link {
  @apply text-black/55 hover:text-black dark:text-neutral-400 dark:hover:text-white;
}

.app-button-text {
  @apply hover:text-black dark:hover:text-white;
}

.app-button-text-active {
  @apply text-black dark:text-white;
}

.app-button-text-inactive {
  @apply text-neutral-800 hover:text-neutral-950 dark:text-neutral-400 dark:hover:text-neutral-200;
}

/* ================================ ================================ */

/* ====================== Styles ====================== */
/*! hacer que estos colores los puedan elegir las personas  */
/* --color-blue-glow: #3F64E9;    
--color-cyan-glow: #3FE9C4;      
--color-purple-glow: #6A2FD8;  */

.header-bg-elipse-1 {
  background: rgba(63, 100, 233, 0.43);
  filter: blur(150px);
  width: 570px;
  height: 180px;
}
.header-bg-elipse-2 {
  background: rgba(63, 233, 196, 0.43);
  filter: blur(130px);
  width: 570px;
  height: 264px;
}
.header-bg-elipse-3 {
  background: rgba(106, 47, 216, 0.43);
  filter: blur(130px);
  width: 570px;
  height: 140px;
}

/* ===== Volume Slider Minimal ===== */

.volume-slider {
  -webkit-appearance: none;
  /* width: 100%; */
  /* height: 6px; */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  outline: none;
  cursor: pointer;
  /* transition: background 0.3s ease; */
}

/* Hover background */
.volume-slider:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Track (Chrome) */
.volume-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: transparent;
}

/* Thumb (Chrome) */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: white;
  border-radius: 9999px;
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); */
  transition:
    transform 0.15s ease,
    box-shadow 0.3s ease;
  margin-top: -4px;
}

/* Thumb hover */
.volume-slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  /* box-shadow: 0 0 12px rgba(255, 255, 255, 0.9); */
}

/* Firefox track */
.volume-slider::-moz-range-track {
  background: transparent;
  height: 6px;
}

/* Firefox thumb */
.volume-slider::-moz-range-thumb {
  height: 14px;
  width: 14px;
  background: white;
  border-radius: 9999px;
  border: none;
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.6); */
  transition:
    transform 0.15s ease,
    box-shadow 0.3s ease;
}

.volume-slider::-moz-range-thumb:hover {
  transform: scale(1.2);
}
