/* ====================== Tailwind ====================== */

@plugin "tailwindcss-animate";
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

/* ====================== Fonts ====================== */

/* agregar alguna font que este buena */

/* ====================== Variables ====================== */
:root {
  color-scheme: light dark; /*con esto ya le estoy diciendo que si el fondo es negro le ponga font blanca */
  text-rendering: optimizeLegibility;
}

/* ====================== Global Reset ====================== */
/* Tailwind ya resetea MUCHAS cosas con Preflight  por eso no le hago reset yo*/

*, *::before, *::after, html, body {
  scrollbar-gutter: auto;
}

html {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  overflow-x: hidden; /* esto saca el scroll lateral que me da la linea */
  scrollbar-width: none;
}

/*! ====================== IMPORTANT ====================== */
/* esto es lo que hace que no se desborde mas las configs de el layout hacen que no se desborde */
html, body {
  overflow-x: hidden !important;
}

body {
  width: 100%;
}

/* ====================== Custom Classes ====================== */
/** se que no se hace esto con tailwind pero asi se puede tener un poco mas general algunas cosas */

.glass-effect {
  @apply bg-[#1e1e2e]/5 backdrop-blur-md;
}

/* ====================== Styles ====================== */
/*! hacer que estos colores los puedan elegir las personas  */
/* --color-blue-glow: #3F64E9;    
--color-cyan-glow: #3FE9C4;      
--color-purple-glow: #6A2FD8;  */

.header-bg-elipse-1 {
  background: rgba(63, 100, 233, .43);
  filter: blur(150px);
  width: 570px;
  height: 180px;
}
.header-bg-elipse-2 {
  background: rgba(63, 233, 196, .43);
  filter: blur(130px);
  width: 570px;
  height: 264px;
}
.header-bg-elipse-3 {
  background: rgba(106, 47, 216, .43);
  filter: blur(130px);
  width: 570px;
  height: 140px;
}