/* ====================== Tailwind ====================== */
@import "tailwindcss";

/* ====================== Fonts ====================== */

/* //! todo lo de abajo me estaba cagando el tailwind */


/* ====================== Variables ====================== */
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-rendering: optimizeLegibility;

  color-scheme: light dark;
} */


/* ====================== Global Reset ====================== */
/* Tailwind ya resetea MUCHAS cosas con Preflight */

*, *::before, *::after, html, body {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
  scrollbar-gutter: auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* .contenedor::-webkit-scrollbar {
    display: none; 
} */

/* ====================== Body ====================== */
body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  background: #000;
  /* max-width: 90%; */
}


/* ====================== Root ====================== */
/* #root {
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


/* ====================== Links ====================== */
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
