/* ====================== Tailwind ====================== */

@plugin 'tailwindcss-animate';
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

/* ====================== Fonts ====================== */

/* agregar alguna font que este buena */

/* ====================== Variables ====================== */
:root {
  color-scheme: light dark; /*con esto ya le estoy diciendo que si el fondo es negro le ponga font blanca */
  text-rendering: optimizeLegibility;
}

/* ====================== Global Reset ====================== */
/* Tailwind ya resetea MUCHAS cosas con Preflight  por eso no le hago reset yo*/

*,
*::before,
*::after,
html,
body {
  scrollbar-gutter: auto;
}

html {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  overflow-x: hidden; /* esto saca el scroll lateral que me da la linea */
  scrollbar-width: none;
}

/*! ====================== IMPORTANT ====================== */
/* esto es lo que hace que no se desborde mas las configs de el layout hacen que no se desborde */
html,
body {
  overflow-x: hidden !important;
}

body {
  width: 100%;
}

/* ====================== Custom Classes and Theme Variables====================== */
/** se que no se hace esto con tailwind pero asi se puede tener un poco mas general algunas cosas */
/* 
esta es la config general de estilo
rounded-2x1
bg-[#1e1e2e]/5 backdrop-blur-md
border-white/10
hover:border-white/40
hover:bg-white/10
*/

@theme {
  /* Borders */
  --color-border-app: white;

  /* Backgrounds */
  --color-bg-glass: #1e1e2e;
  --color-bg-selected: white;
}

.glass-effect {
  @apply bg-bg-glass/5 backdrop-blur-md;
}

.rounded-app {
  @apply rounded-2xl;
}

.border-app-t {
  @apply border-border-app/10 border-t;
}
.border-app-l {
  @apply border-border-app/10 border-l;
}

.border-app {
  @apply border-border-app/10 border;
}

.border-hover-app {
  @apply hover:border-border-app/40 border;
}
.border-selected-app {
  @apply border-border-app border;
}

.bg-selected-btn {
  @apply bg-bg-selected/10;
}

/* poner tamaños de fonts y colores */

/* ====================== Styles ====================== */
/*! hacer que estos colores los puedan elegir las personas  */
/* --color-blue-glow: #3F64E9;    
--color-cyan-glow: #3FE9C4;      
--color-purple-glow: #6A2FD8;  */

.header-bg-elipse-1 {
  background: rgba(63, 100, 233, 0.43);
  /* filter: blur(150px); */
  width: 570px;
  height: 180px;
}
.header-bg-elipse-2 {
  background: rgba(63, 233, 196, 0.43);
  /* filter: blur(130px); */
  width: 570px;
  height: 264px;
}
.header-bg-elipse-3 {
  background: rgba(106, 47, 216, 0.43);
  /* filter: blur(130px); */
  width: 570px;
  height: 140px;
}
